<%- partial('../public/partials/header.ejs') %>


<main id="content" role="main">
    
	<%- partial('./partials/sub-header.ejs') %>

 
	<div class="u-bg-light-blue-50">
      <div class="container u-space-2">

        <% if(flash.has('errors')){ %>
        <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12">
          <% flash.get('errors').forEach(function (message) { %>
          <i class="fa fa-exclamation-triangle"></i> &nbsp;&nbsp;<%- message %>
          <% }) %>
        </div>
        <% } %>

        <% if(flash.has('success')){ %>
        <div class="alert alert-success col-lg-12 col-md-12 col-sm-12">
          <% flash.get('success').forEach(function (message) { %>
          <i class="fa fa-exclamation-check"></i> &nbsp;&nbsp;<%- message %>
          <% }) %>
        </div>
        <% } %>


        <form method="post" action="">

          <p>Your new password must be greater than 6 characters long, contain at least one digit and one capital letter.</p>
          <br />

          <!-- Input -->
          <div class="js-form-message mb-6">
            <label class="h6 small d-block text-uppercase">
              Current password
            </label>

            <div class="js-focus-state input-group u-form mb-2">
              <input class="form-control u-form__input" type="password" name="currentPassword" required placeholder="Enter your current password" aria-label="Enter your current password" data-msg="Password does not match." data-error-class="u-has-error" data-success-class="u-has-success" autocomplete="off">
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="mb-6">
            <div class="js-form-message">
              <label class="h6 small d-block text-uppercase">
                New password
              </label>

              <div class="js-focus-state input-group u-form mb-2">
                <input class="form-control u-form__input" type="password" name="newPassword" required placeholder="Enter your password" aria-label="Enter your password" data-msg="Please enter your password." data-error-class="u-has-error" data-success-class="u-has-success">
              </div>
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="js-form-message mb-6">
            <label class="h6 small d-block text-uppercase">
              Confirm password
            </label>

            <div class="js-focus-state input-group u-form mb-2">
              <input class="form-control u-form__input" type="password" name="confirmNewPassword" required placeholder="Confirm your password" aria-label="Confirm your password" data-msg="Password does not match the confirm password." data-error-class="u-has-error" data-success-class="u-has-success">
            </div>
          </div>
          <!-- End Input -->

          <div class="w-lg-50">
           

            <!-- Buttons -->
            <button type="submit" class="btn btn-sm btn-primary u-btn-primary transition-3d-hover">Save Password</button>
            <button type="submit" class="btn btn-sm u-btn-secondary--air transition-3d-hover">Cancel</button>
            <!-- End Buttons -->
          </div>
        </form>
      </div>
    </div>



</main>


<%- partial('../public/partials/footer.ejs') %>