<%- partial('./partials/header.ejs') %>

<div class="modal fade alert-modal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
		<div class="alert-message"></div>
    </div>
  </div>
</div>

<div id="fractal-background"></div>
<header class="padding-top80 home-banner-header">


	<div class="container">
		<% if(flash.has('errors')){ %>
		<div class="alert alert-danger">
			<% flash.get('errors').forEach(function (message) { %>
			<p class="error"><i class="fa fa-exclamation-triangle"></i> &nbsp;&nbsp;<%= message %></p>
			<% }); %>
		</div>
		<% } %>
		<% if(flash.has('success')){ %>
		<div class="alert alert-success">
			<% flash.get('success').forEach(function (message) { %>
			<p class="error"><i class="fa fa-exclamation-check"></i> &nbsp;&nbsp;<%= message %></p>
			<% }) %>
		</div>
		<% } %>

		<div class="text-center">

			<div class="row">
				
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				
					<div class="col-lg-2 col-md-2 col-sm-3 col-xs-12">
						<img class="wow fadeInDown pull-left banner-logo landing-page-logo" src="/images/header-logo-180.png" alt="TriForce Tokens Ltd Logo" />
					</div>
					
					<div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
						<div class="row wow fadeInDown" data-wow-delay="0.3s">
							<h1 class="landing-page"><%= __("empowering the games community with blockchain technology") %></h1>
						</div>
					</div>
					
				</div>
				
			</div>
		</div>
	</div>
					

	<div class="join-subscribe-banner-bg">
		<div class="container">
			<div class="banner-content text-center">
				<div class="row">

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

						<div class="form-container subscribe-form-container col-lg-10 col-md-10 col-sm-12 col-lg-offset-1 col-md-offset-1 wow fadeInDown" data-wow-delay="1.3s">
							<h2 class="subscribe-form-heading"><%= __("Join The Token Sale") %></h2>
							
							<% if(typeof locale == 'undefined' || locale.length == 0){ %>
								<%- partial('./partials/join-en.ejs') %>
							<% }else{ %>
								<%- partial('./partials/join-' + locale + '.ejs') %>
							<% } %>

						</div>

					</div>

					<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
						<br />
						<iframe class="youtube-video" width="100%" height="302" src="https://www.youtube.com/embed/n9WI3w1XPKo?rel=0" frameborder="0" allowfullscreen></iframe>
					</div>

				</div>
			</div>
		</div>
	</div>
		
	<!--<div class="container">
		<div class="banner-content text-center">
			<div class="row">
				<div class="social-header-links">
					<a href="https://twitter.com/triforcetokens"><img class="social-icon-circle twitter" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On Twitter" /></a>
					<a href="https://www.facebook.com/triforcetokens"><img class="social-icon-circle facebook" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On Facebook" /></a>
					<a href="https://t.me/triforcetokens"><img class="social-icon-circle telegram" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On Telegram" /></a>
					<a href="https://bitcointalk.org/index.php?topic=2222731"><img class="social-icon-circle bitcointalk" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On Bitcointalk" /></a>
					<a href="https://medium.com/triforcetokens"><img class="social-icon-circle medium" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On Medium" /></a>
					<a href="https://github.com/TriForceNetwork"><img class="social-icon-circle github" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On GitHub" /></a>
					<a href="https://www.linkedin.com/company/11265929/"><img class="social-icon-circle linkedin" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On Linkedin" /></a>
					<a href="https://www.youtube.com/channel/UCzXH1e2bclPu8NkuM1yICfg"><img class="social-icon-circle youtube" src="/images/icons/blnk-pixl-foricn.png" alt="Join Us On YouTube" /></a>
				</div>
			</div>

		</div>

	</div>-->


	<div class="row">
		<div class="publication-logos">
			<a target="_blank" rel="nofollow" href="https://www.cryptocoinsnews.com/blockchain-gaming-startup-triforce-tokens-announces-pre-ico-14th-october/"><img class="cryptocoins-news-white-icon" src="/images/icons/blnk-pixl-foricn.png" alt="Cryptocoins News" /></a>
			<a target="_blank" rel="nofollow" href="https://www.icocountdown.com/"><img class="coindesk-white-icon" src="/images/icons/blnk-pixl-foricn.png" alt="ICO Countdown" /></a>
			<a target="_blank" rel="nofollow" href="https://www.coinspeaker.com/2017/09/28/blockchain-gaming-startup-triforce-tokens-announces-pre-ico-14th-october/"><img class="coinspeaker-white-icon" src="/images/icons/blnk-pixl-foricn.png" alt="Coinspeaker" /></a>
			<a target="_blank" rel="nofollow" href="http://www.newsbtc.com/2017/09/28/triforce-tokens-ico-early-birds-get-free-ledger-nano-s/"><img class="newsbtc-white-icon" src="/images/icons/blnk-pixl-foricn.png" alt="NewsBTC" /></a>
			<a target="_blank" rel="nofollow" href="https://www.advfn.com/news_Blockchain-Gaming-Startup-TriForce-Tokens-Announce_75758419.html"><img class="bitcoinist-white-icon" src="/images/icons/blnk-pixl-foricn.png" alt="ADVFN" /></a>
			<a target="_blank" rel="nofollow" href="https://www.icoalert.com/"><img class="ico-alert-white-icon" src="/images/icons/blnk-pixl-foricn.png" alt="ICO Alert" /></a>
		</div>
	</div>


</header>


<div class="section" id="supporters-partners">
	<div class="row">
		<div class="container">
			<h2 class="section-heading"><%=__("supporters and partners") %></h2>
			<p><%=__("Working with and supported by globally recognised companies") %></p>
			<br />

			<div class="row partner-logos">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<a target="_BLANK" href="https://www.coinpayments.net"><img class="img-responsive" src="/images/brand-logos/coinpayments-logo.png" alt="Coinpayments.net" /></a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<a target="_BLANK" href="https://tiga.org/"><img class="img-responsive" src="/images/brand-logos/tiga-logo.png" alt="TIGA" /></a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="img-responsive" src="/images/brand-logos/cue-ltd-logo.png" alt="Coventry University Enterprises Ltd" />
				</div>
			</div>
			
			<div class="row partner-logos">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<a target="_BLANK" href="https://www.gov.uk/government/organisations/innovate-uk"><img class="img-responsive" src="/images/brand-logos/innovate-uk-logo.png" alt="Innovate UK" /></a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="img-responsive" src="/images/brand-logos/yudiz-logo.svg" alt="Yudiz Solutions" />
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<a target="_BLANK" href="https://cryptovalley.swiss/member-directory/name/pete-mardell/"><img class="img-responsive" src="/images/brand-logos/crypto-valley-logo.png" alt="Crypto Valley" /></a>
				</div>
			</div>
			
			<div class="row partner-logos">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<a target="_BLANK" href="https://www.fanstudio.co.uk/"><img class="img-responsive" src="/images/brand-logos/fan-studio-logo.png" alt="Fan Studio London" /></a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<a target="_BLANK" href="https://www.itgovernance.co.uk/"><img class="img-responsive" src="/images/brand-logos/itgovernance-ltd-logo.png" alt="IT Governance Ltd" /></a>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="img-responsive" src="/images/brand-logos/bitcoin-pr-buzz-logo.png" alt="BitcoinPRBuzz" />
				</div>
				
			</div>

		</div>
	</div>
</div>




<div class="section" id="media-section">
	<div class="row">
		<div class="container">
			<h2 class="section-heading"><%=__("recent media") %></h2>
			<p><%=__("Check out the latest media and article publications") %></p>
			<br />

			<div id="media-carousel" class="">
				<div class="">
				   <div class="item">

						<div class="col-lg-3 col-md-3">
							<div class="item">
								<h4 class="article-title"><%=__("latest distribution on yahoo finance") %></h4>
								<a target="_BLANK" rel="nofollow" href="https://finance.yahoo.com/news/triforce-tokens-blockchain-gaming-supported-060200060.html">
									<img class="img-responsive" src="/images/articles/yahoo-finance-article.png" alt="Featured on Yahoo Finance" />
								</a>
								<h4><%=__("tech startup triforce tokens has announced its official token sale campaign") %></h4>
								<p><a target="_BLANK" rel="nofollow" href="https://finance.yahoo.com/news/blockchain-startup-triforce-tokens-proudly-171700277.html">Read the full story</a></p>
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<!--
							<div class="item">
								<h4 class="article-title"><%=__("latest distribution on thenextweb") %></h4>
								<a target="_BLANK" rel="nofollow" href="https://thenextweb.com/guests/gaming-industrys-blockchain-based-evolution/"><img class="img-responsive" src="/images/articles/the-next-web-article-logo.png" alt="Featured on TheNextWeb" /></a>
								<h4><%=__("the gaming industry's blockchain-based evolution") %></h4>
								<p><a target="_BLANK" rel="nofollow" href="https://thenextweb.com/guests/gaming-industrys-blockchain-based-evolution/">Read the full story</a></p>
							</div>-->

							<div class="item">
								<h4 class="article-title"><%=__("latest distribution on cnbc") %></h4>
								<a target="_BLANK" rel="nofollow" href="https://www.cnbc.com/2017/10/04/pr-newswire-triforce-tokens-blockchain-gaming-announces-membership-of-uk-gaming-industry-nonaprofit-tiga-and-swiss-crypto-valley.html">
									<img class="img-responsive" src="/images/articles/cnbc-article.png" alt="Featured on CNBC" />
								</a>
								<h4><%=__("triforce tokens blockchain gaming announces membership") %></h4>
								<p><a target="_BLANK" rel="nofollow" href="https://www.cnbc.com/2017/10/04/pr-newswire-triforce-tokens-blockchain-gaming-announces-membership-of-uk-gaming-industry-nonaprofit-tiga-and-swiss-crypto-valley.html">Read the full story</a></p>
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="item">
								<h4 class="article-title"><%=__("latest distribution on medium") %></h4>
								<a target="_BLANK" href="https://medium.com/@triforcetokens/a-real-solution-for-the-user-reach-challenge-for-game-developers-e1d9a60b3763">
									<img class="img-responsive" src="/images/articles/medium-article-real-solution-pmardell.png" alt="Featured on Medium" />
								</a>
								<h4><%=__("one key solution that will shake up the gaming industry") %></h4>
								<p><a target="_BLANK" href="https://medium.com/@triforcetokens/a-real-solution-for-the-user-reach-challenge-for-game-developers-e1d9a60b3763">Read the full story</a></p>
							</div>
						</div>
						<div class="col-lg-3 col-md-3">
							<div class="item">
								<h4 class="article-title"><%=__("latest distribution on medium") %></h4>
								<a target="_BLANK" rel="nofollow" href="https://medium.com/triforcetokens/delivery-of-50-ledger-nano-s-devices-and-unboxing-88d27faa8f76">
									<img class="img-responsive" src="/images/articles/medium-ledger-nano-s-story-article.png" alt="Featured on our Medium Channel" />
								</a>
								<h4><%=__("delivery of 50 ledger nano s devices and unboxing") %></h4>
								<p><a target="_BLANK" rel="nofollow" href="https://medium.com/triforcetokens/delivery-of-50-ledger-nano-s-devices-and-unboxing-88d27faa8f76">Read the full story</a></p>
							</div>
						</div>
				   </div>


				</div>

			</div>


		</div>
	</div>
</div>




<div class="section" id="investor-assurances">
	<div class="row">
		<div class="container">

			<h2 class="section-heading"><%=__("assurances to contributors") %></h2>

			<p><%=__("Clear and transparent assurances that your contribution is protected and utilised entirely on advancing the project") %></p>

			<br />
			<br />


			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

					<div class="major-benefit-section wow fadeIn">
						<img class="pull-left major-benefit-icon padlock-icon" src="/images/icons/blnk-pixl-foricn.png" alt="Padlock Icon" />

						<div class="major-benefit-content">
							<h3><%=__("fund security") %></h3>
							<ul class="element-feature-list">
								<li><%=__("Funds managed by independent escrow provider and global leaders,") %> <a target="_BLANK" href="https://coinpayments.net">CoinPayments</a></li>
								<li><%=__("All received funds to be held offline in cold storage") %></li>
								<li><%=__("Funds to be released upon milestones achieved, not all up front") %></li>
								<li><%=__("A dedicated relations manager to be appointed") %></li>
								<li><%=__("Transparency policy in place with bi-weekly updates") %></li>
							</ul>
						</div>
					</div>

				</div>

				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

					<div class="major-benefit-section wow fadeIn" data-wow-delay="0.3s">
						<img class="pull-left major-benefit-icon team-icon" src="/images/icons/blnk-pixl-foricn.png" alt="Team Icon" />

						<div class="major-benefit-content">
							<h3><%=__("strong team") %></h3>
							<ul>
								<li><%=__("Advisers who have worked on multi-million pound accounts") %></li>
								<li><%=__("CEO proven technology start-up experience for leading technology platform in it's space") %></li>
								<li><%=__("CTO holds masters in software engineering and is a certified Ethereum blockchain developer") %></li>
								<li><%=__("Professor of Coventry University, ") %><a target="_BLANK" href="https://pureportal.coventry.ac.uk/en/persons/nazaraf-shah">Nazaraf Shah</a>, is a senior lecturer in ethical hacking and computer security</li>
								<li><%=__("Committed to growing the team significantly based upon funding level") %></li>
							</ul>
						</div>
					</div>

				</div>
			</div>

			<br />
			<br />

			<div class="row">
				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

					<div class="major-benefit-section wow fadeIn" data-wow-delay="0.6s">
						<img class="pull-left major-benefit-icon clipboard-icon" src="/images/icons/blnk-pixl-foricn.png" alt="Clipboard Icon" />

						<div class="major-benefit-content">
							<h3><%=__("sound technology") %></h3>
							<ul>
								<li><%=__("Smart Contracts independently reviewed and audited") %></li>
								<li><%-__("Working with <a target=\"_BLANK\" href=\"https://www.itgovernance.co.uk/\">IT Governance Ltd</a> to implement full technology audit and governance")%></li>
								<li><%=__("Developer platform prototype developed") %></li>
								<li><%=__("Player platform prototype developed") %></li>
								<li><%=__("Mobile game prototype developed") %></li>
							</ul>
						</div>
					</div>

				</div>



				<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

					<div class="major-benefit-section wow fadeIn" data-wow-delay="0.9s">
						<img class="pull-left major-benefit-icon target-icon" src="/images/icons/blnk-pixl-foricn.png" alt="Target Icon" />

						<div class="major-benefit-content">
							<h3><%=__("proven market opportunity") %></h3>
							<ul>
								<li><%=__("86&percnt; of surveyed indie developers said they loved the idea of our project") %></li>
								<li><%=__("Global games market revenue at &dollar;101.1Bi in 2016") %></li>
								<li><%=__("Global games market revenue estimated to grow 6.2&percnt; year on year") %></li>
								<li><%=__("Our technology solves some of the top concerns expressed by gaming companies") %></li>
							</ul>
						</div>
					</div>

				</div>
			</div>



		</div>

	</div>
</div>


<%- partial('partials/subscribe') %>


<div class="section team" id="team">
	<div class="row grey-bg">
		<div class="container">
			<br />
			<h2 class="section-heading"><%=__("core team") %></h2>
			
			<p><%= __("Our team is incredibly passionate, with strong development credentials and a love of the gaming industry.") %></p>
			
			<br />
			<br />
			
			<div class="row team-row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="mem mem-pete" src="/images/icons/blnk-pixl-foricn.png" alt="Pete Mardell" />
					<h3>pete mardell</h3>
					<p><%=__("CEO") %></p>
					<p><%=__("Former head of development of a UK recruitment platform, passionate gamer and crypto enthusiast") %></p>
					<p>
						<a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/petemardell/"><img src="/images/icons/linkedin-square-small.png" alt="LinkedIn Profile"></a>
						<a target="_blank" rel="nofollow" href="https://twitter.com/petedmardell"><img src="/images/icons/twitter-square-small.png" alt="Twitter Profile"></a>
						<a target="_blank" rel="nofollow" href="https://github.com/mrpetef10"><img src="/images/icons/github-square-small.png" alt="Github Profile"></a>
					</p>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="mem mem-raza" src="/images/icons/blnk-pixl-foricn.png" alt="Raza Ahmed" />
					<h3>raza ahmed</h3>
					<p><%=__("CTO") %></p>
					<p><%=__("PDSL Senior Full Stack and Qualified Blockchain developer, MSc Software Development") %></p>
					<p>
						<a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/razaahmed47/"><img src="/images/icons/linkedin-square-small.png" alt="LinkedIn Profile"></a>
						<a target="_blank" rel="nofollow" href="https://twitter.com/se_raza"><img src="/images/icons/twitter-square-small.png" alt="Twitter Profile"></a>
						<a target="_blank" rel="nofollow" href="https://github.com/theraaz"><img src="/images/icons/github-square-small.png" alt="Github Profile"></a>
					</p>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="mem mem-shah" src="/images/icons/blnk-pixl-foricn.png" alt="Nazaraf Shah" />
					<h3>dr. nazaraf shah</h3>
					<p><%=__("PhD Research Engineer") %></p>
					<p><%=__("Senior Lecturer in Ethical Hacking and Computer Security at Coventry University") %></p>
					<p>
						<a target="_blank" rel="nofollow" href="https://pureportal.coventry.ac.uk/en/persons/nazaraf-shah"><img src="/images/icons/link-square-small.png" alt="Coventry University Biography"></a>
					</p>
				</div>
			</div>


			<div class="row team-row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="mem mem-jkb" src="/images/icons/blnk-pixl-foricn.png" alt="Jakub Kafarski" />
					<h3>jakub kafarski</h3>
					<p><%=__("Front-end Engineer") %></p>
					<p><%=__("CycloMedia Technology, Ericsson") %></p>
					<p>
						<a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/jakub-kafarski/"><img src="/images/icons/linkedin-square-small.png" alt="LinkedIn Profile"></a>
						<a target="_blank" rel="nofollow" href="https://twitter.com/jakub_kafarski"><img src="/images/icons/twitter-square-small.png" alt="Twitter Profile"></a>
						<a target="_blank" rel="nofollow" href="https://github.com/jakubkafarski"><img src="/images/icons/github-square-small.png" alt="Github Profile"></a>
					</p>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="mem mem-sorina" src="/images/icons/blnk-pixl-foricn.png" alt="Sorina Rusu" />
					<h3>sorina rusu</h3>
					<p><%=__("System Developer") %></p>
					<p><%=__("MCA Computer Science") %></p>
					<p>
						<a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/sorina-rusu-1b73a668/"><img src="/images/icons/linkedin-square-small.png" alt="LinkedIn Profile"></a>
						<a target="_blank" rel="nofollow" href="https://twitter.com/SorinaRusu0403"><img src="/images/icons/twitter-square-small.png" alt="Twitter Profile"></a>
						<a target="_blank" rel="nofollow" href="https://github.com/sorinarusu"><img src="/images/icons/github-square-small.png" alt="Github Profile"></a>
					</p>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="mem mem-jacob" src="/images/icons/blnk-pixl-foricn.png" alt="Jacob Ashby" />
					<h3>jacob ashby</h3>
					<p><%=__("General Manager") %></p>
					<p><%=__("University of Westminster, Bachelors Degree, International Business") %></p>
					<p>
						<a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/jacob-ashby-04186a39/"><img src="/images/icons/linkedin-square-small.png" alt="LinkedIn Profile"></a>
						<a target="_blank" rel="nofollow" href="https://twitter.com/jacobashby"><img src="/images/icons/twitter-square-small.png" alt="Twitter Profile"></a>
					</p>
				</div>
			</div>

			<div class="row team-row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="mem mem-haider" src="/images/icons/blnk-pixl-foricn.png" alt="Haider Malik" />
					<h3>haider malik</h3>
					<p><%=__("Senior Full Stack Developer") %></p>
					<p><%=__("Instructor at Udemy and Fullstackhour, Javascript Expert") %></p>
					<p>
						<a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/haider-malik-41521a8b/"><img src="/images/icons/linkedin-square-small.png" alt="LinkedIn Profile"></a>
						<a target="_blank" rel="nofollow" href="https://twitter.com/haidermalik504"><img src="/images/icons/twitter-square-small.png" alt="Twitter Profile"></a>
						<a target="_blank" rel="nofollow" href="https://github.com/HaiderMalik12"><img src="/images/icons/github-square-small.png" alt="Github Profile"></a>
					</p>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="mem mem-simona" src="/images/icons/blnk-pixl-foricn.png" alt="Simona Patrut" />
					<h3>simona patrut</h3>
					<p><%=__("Marketing") %></p>
					<p>Oracle, Ingram Micro</p>
					<p><a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/simona-elena-patrut-b4713b98/"><img src="/images/icons/linkedin-square-small.png" alt="LinkedIn Profile"></a></p>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="mem mem-aida" src="/images/icons/blnk-pixl-foricn.png" alt="Aida Alexie" />
					<h3>aida alexie</h3>
					<p><%=__("International Communications") %></p>
					<p><%=__("Fluent in English, French, Spanish and Romanian") %></p>
					<p><a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/aida-mihaela-alexie-67b47092/"><img src="/images/icons/linkedin-square-small.png" alt="LinkedIn Profile"></a></p>
				</div>
			</div>


			<div class="row team-row">
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="mem mem-tib" src="/images/icons/blnk-pixl-foricn.png" alt="Tib Palin" />
					<h3>tib palin</h3>
					<p><%=__("Token Sale Consultant") %></p>
					<p><%=__("Also consulting for UTRUST and Vuily ICO's") %></p>
					<p>
						<a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/tibpalin/"><img src="/images/icons/linkedin-square-small.png" alt="LinkedIn Profile"></a>
					</p>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="mem mem-wayne" src="/images/icons/blnk-pixl-foricn.png" alt="Wayne Barker" />
					<h3>wayne barker</h3>
					<p><%=__("Social Media and Content Manager") %></p>
					<p><%= __("Account manager for Bitcoin PR Buzz") %></p>
					<p>
						<a target="_blank" rel="nofollow" href="https://twitter.com/Bit_Fellas"><img src="/images/icons/twitter-square-small.png" alt="Twitter Profile"></a>
						<a target="_blank" rel="nofollow" href="https://www.facebook.com/way.no.3766"><img src="/images/icons/facebook-square-small.png" alt="Facebook Profile"></a>
					</p>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="mem mem-ali" src="/images/icons/blnk-pixl-foricn.png" alt="Ali Arshad" />
					<h3>ali arshad</h3>
					<p><%=__("UI/UX Designer") %></p>
					<p>Front end developer, MicroMerger</p>
					<p>
						<a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/ali-arshad-54a6aa6b/"><img src="/images/icons/linkedin-square-small.png" alt="LinkedIn Profile"></a>
					</p>

				</div>
			</div>

		</div>
	</div>


	<div class="row advisers">
		<div class="container">
			<h3 class="section-sub-heading"><%=__("adviser team") %></h3>

			<div class="row">
			
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<img class="mem mem-vadim" src="/images/icons/blnk-pixl-foricn.png" alt="Vadim Bulatov" />
					<h3>vadim bulatov</h3>
					<p><%- __("<strong>Games Industry Adviser</strong>, Head of SMM for World of Tanks, World of Warships, World of Warplanes") %></p>
					<p><a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/vadim-bulatov-646a8478/"><img src="/images/icons/linkedin-square-small.png" alt="LinkedIn Profile"></a></p>
				</div>
				
				
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="mem mem-amos" src="/images/icons/blnk-pixl-foricn.png" alt="Blake Pope" />
					<h3>blake pope</h3>
					<p><%-__("CEO Bitcoin PR Buzz, worked closely on <strong>NEM</strong>, <strong>UTRUST</strong> and <strong>Lisk</strong>") %></p>
					<p><a target="_blank" rel="nofollow" href="https://twitter.com/bitcoinprbuzz"><img src="/images/icons/twitter-square-small.png" alt="Bitcoin PR Buzz Profile"></a></p>
				</div>

				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="mem mem-ashby" src="/images/icons/blnk-pixl-foricn.png" alt="Owen Ashby" />
					<h3>owen ashby</h3>
					<p><%=__("Business Analyst, Market Intelligence and Corporate Strategy") %></p>
					<p>
						<a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/owen-ashby-a12722/"><img src="/images/icons/linkedin-square-small.png" alt="LinkedIn Profile"></a>
						<a target="_blank" rel="nofollow" href="https://twitter.com/owenashby"><img src="/images/icons/twitter-square-small.png" alt="Twitter Profile"></a>
					</p>
				</div>
			</div>
			
			<div class="row">
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<img class="mem mem-marek" src="/images/icons/blnk-pixl-foricn.png" alt="Marek Herm" />
					<h3>marek herm</h3>
					<p><%=__("Legal Adviser, Attorney-at-Law Tax Counsel at ATTELA Law Firm") %></p>
					<p><a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/marek-herm-8662824/"><img src="/images/icons/linkedin-square-small.png" alt="LinkedIn Profile"></a></p>
				</div>
				
				<div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
					<img class="mem mem-kate" src="/images/icons/blnk-pixl-foricn.png" alt="Kate Breed" />
					<h3>kate breed</h3>
					<p><%=__("Former molecular biologist, Senior consultant in systems engineering, Councillor") %></p>
					<p>
						<a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/kate-breed-bb082819/"><img src="/images/icons/linkedin-square-small.png" alt="LinkedIn Profile"></a>
						<a target="_blank" rel="nofollow" href="https://twitter.com/ksbreed"><img src="/images/icons/twitter-square-small.png" alt="Twitter Profile"></a>
					</p>
				</div>
				
				<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
					<img class="mem mem-zahid" src="/images/icons/blnk-pixl-foricn.png" alt="Zahid Ali" />
					<h3>zahid ali</h3>
					<p><%=__("Strategic Business Development Adviser, Graduate Diploma in Law") %></p>
					<p>
						<a target="_blank" rel="nofollow" href="https://www.linkedin.com/in/zahid-ali-9b899a40/"><img src="/images/icons/linkedin-square-small.png" alt="LinkedIn Profile"></a>
					</p>
				</div>
			</div>
			

		</div>

	</div>
</div>



<div class="section">
	<div class="row">
		<div class="container">

			<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
				<h3 class="section-sub-heading padding-top40">F.A.Q.</h3>
				<h5><%= __("GOT QUESTIONS?") %></br><%=__("JOIN OUR SOCIAL MEDIA CHANNELS") %></h5>
                <br />
				<div class="padding-top10 text-muted">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-4">
							<a target="_BLANK" href="https://t.me/TriForceTokens"><img class="telegram-circle-icon" src="/images/icons/blnk-pixl-foricn.png" alt="<%=__("Telegram Channel Public Invite Link") %>" /></a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4">
							<a target="_BLANK" href="https://twitter.com/triforcetokens"><img class="twitter-circle-icon" src="/images/icons/blnk-pixl-foricn.png" alt="<%=__("Twitter Invite Link") %>" /></a>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4">
							<a target="_BLANK" href="https://www.facebook.com/triforcetokens"><img class="facebook-circle-icon" src="/images/icons/blnk-pixl-foricn.png" alt="<%=__("Facebook Invite Link") %>" /></a>
						</div>
					</div>
                </div>

			</div>

			<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 padding-top40">

				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel">
						<div class="panel-heading accordion-toggle">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="true" aria-controls="collapse6"><%=__("HOW CAN I JOIN THE TOKEN SALE?") %></a>
							</h4>
						</div>
						<div id="collapse6" class="panel-collapse collapse in" role="tabpanel">
							<div class="panel-body">
								<p><%- ("Simply <a href=\"/#fractal-background\">fill out the form</a> at the top of the page and further instructions will be emailed to you.")%></p>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading accordion-toggle collapsed">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1"><%=__("DO I HAVE TO VERIFY MY IDENTITY TO PARTICIPATE?") %></a>
							</h4>
						</div>
						<div id="collapse1" class="panel-collapse collapse" role="tabpanel">
							<div class="panel-body">
								<p><%=__("No, but you need to accept terms and conditions, confirm that you are not USA citizen and you can only participate with the crypto currencies defined in the white paper")%></p>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading accordion-toggle collapsed">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2"><%= __("WHAT CRYPTO CURRENCIES CAN I CONTRIBUTE WITH?") %></a>
							</h4>
						</div>
						<div id="collapse2" class="panel-collapse collapse" role="tabpanel">
							<div class="panel-body">
								<p><%= __("Ethereum only (ETH)") %></p>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading accordion-toggle collapsed">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3"><%= __("WHAT IS THE TOTAL SUPPLY OF TRIFORCE TOKENS?") %></a>
							</h4>
						</div>
						<div id="collapse3" class="panel-collapse collapse" role="tabpanel">
							<div class="panel-body">
								<p><%= __("2,000,000,000 Fixed Supply (1,500,000,000 available for contributors)") %></p>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading accordion-toggle collapsed">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7"><%= __("WILL YOU BURN UN-SOLD TOKENS?") %></a>
							</h4>
						</div>
						<div id="collapse7" class="panel-collapse collapse" role="tabpanel">
							<div class="panel-body">
								<p><%= __("Yes, any tokens not sold at the end of the token sale will be destroyed to ensure no over-supply.") %></p>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading accordion-toggle collapsed">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4"><%= __("WHEN WILL I GET MY TOKENS?") %></a>
							</h4>
						</div>
						<div id="collapse4" class="panel-collapse collapse" role="tabpanel">
							<div class="panel-body">
								<p><%= __("Your tokens will be issued immediately after confirmation of your contribution has cleared from the token sale, by our smart contracts.") %></p>
							</div>
						</div>
					</div>
					<div class="panel">
						<div class="panel-heading accordion-toggle collapsed">
							<h4 class="panel-title">
								<a data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5"><%= __("WILL THE TRIFORCE TOKENS BE LISTED ON EXCHANGES?") %></a>
							</h4>
						</div>
						<div id="collapse5" class="panel-collapse collapse" role="tabpanel">
							<div class="panel-body">
								<p><%= __("Yes, we will be applying to be listed on exchanges however we are unable to specify which until the exchanges themselves announce this.") %></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<%- partial('../partials/footer.ejs') %>
