<%- partial('./partials/header.ejs') %>

<header class="padding-top80 white-bg">

	<div class="container white-bg">

		<div class="banner-content text-center animation animated animation-fade-in-down" data-animation="animation-fade-in-down">
			<br />
			<br />
			<a href="/"><img src="/images/raid-party-logo-180px.png" alt="RaidParty Logo" /></a>
		</div>

	</div>

</header>


<div class="container">

	<div class="col-sm-12 col-md-12 col-lg-12">

		<div class="text-center">
			<h1>Join the Airdrop Campaign</h1>
		</div>


		<div class="col-lg-8 col-md-8 col-sm-10 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-1 text-left">

			<% if(flash.has('errors')){ %>
			<br /><br />
			<div class="alert alert-danger col-lg-12 col-md-12 col-sm-12">
				<% flash.get('errors').forEach(function (message) { %>
				<p class="error"><%- message %></p>
				<% }) %>
			</div>
			<br />
			<% } %>

			<% if(flash.has('success')){ %>
			<br /><br />
			<div class="alert alert-success col-lg-12 col-md-12 col-sm-12">
				<% flash.get('success').forEach(function (message) { %>
				<p class="success"><%- message %></p>
				<% }) %>
			</div>
			<br />
			<% } %>



			<p style="font-size:16px;">In order to receive your Airdrop you must first pre-sign up by filling out this form.</p>

			<p style="font-size:16px;">Once the mobile application is launched, you will receive an email with a link to download the app.
			Once installed, your airdrop of FORCE tokens will be distributed to you.</p>

			<p style="font-size:16px;"><strong>Airdrop Rewards:</strong></p>

			<strong><ul style="font-size:16px;">
				<li>Existing FORCE Token Holder Reward: 800 FORCE</li>
				<li>Standard Reward: 5 FORCE</li>
			</ul></strong>

			<br />
			<p style="font-size:16px;">If you want the higher airdrop of 800 FORCE, you must have contributed a minimum of 0.1ETH in our <a href="/join-whitelist">token sale, by signing up here</a>.</p>
			<br>
			<p style="font-size:16px;">Please remember to follow RaidParty on <a target="_blank" href="https://www.facebook.com/groups/RaidPartyEU/">Facebook</a> and <a target="_blank" href="https://twitter.com/RaidPartyEU">Twitter</a> to get the latest information on your airdrop</p>
			<br />
			<h3>Sign Up Below to claim Airdrop Reward</h3>
			<form method="post" action="/airdrop">

				<div class="form-group form-group-lg">
					<input required="required" class="form-control" type="email" name="email" placeholder="<%- __('Your Email') %>">
				</div>

				<div class="form-group form-group-lg">
					<input required="required" class="form-control" type="wallet" name="wallet" placeholder="0xa0....">
				</div>

				<div class="form-group form-group-lg">
					<%- recaptchaForm %>
				</div>


				<div class="form-group form-group-lg">
					<input class="btn btn-block btn-cta" type="submit" value="Join Airdrop!" />
				</div>

				<br>
				<div class="rp-social center"><a target="_blank" href="https://twitter.com/RaidPartyEU"><img src="images/icon-1.png"></a>
							<a target="_blank" href="https://www.facebook.com/groups/RaidPartyEU/"><img src="images/icon-2.png"></a>
						</div>
			</form>

		</div>
	</div>

</div>


<br />
<br />
<br />
<script src='https://www.google.com/recaptcha/api.js'></script>
<%- partial('./partials/footer.ejs') %>
