<%- partial('./partials/header.ejs') %>

<header class="padding-top80 white-bg">

	<div class="container white-bg">

		<div class="banner-content text-center animation animated animation-fade-in-down" data-animation="animation-fade-in-down">
			<a href="/"><img src="/images/triforce-tokens-banner-logo-2.png" alt="TriForce Tokens Ltd Logo" /></a>
		</div>
		
	</div>

</header>

<div class="section">

	<div class="container">
	
		<div class="col-sm-12 col-md-12 col-lg-12">
			
			<div class="text-center">
				<h1><%= title %></h1>
			</div>
		

            <% if(flash.has('errors')){ %>
			<br /><br />
            <div class="alert alert-danger col-lg-12 col-md-12 col-sm-12">
                <% flash.get('errors').forEach(function (message) { %>
                <h4 class="error"><i class="fa fa-exclamation-triangle"></i> &nbsp;&nbsp;<%- message %></h4>
                <% }) %>
            </div>
            <% } %>

            <% if(flash.has('success')){ %>
			<br /><br />
            <div class="alert alert-success col-lg-12 col-md-12 col-sm-12">
                <% flash.get('success').forEach(function (message) { %>
                <h4 class="success"><i class="fa fa-exclamation-check"></i> &nbsp;&nbsp;<%- message %></h4>
                <% }) %>
            </div>
            <% } %>

			
		</div>
		
		
	</div>

</div>

<br />
<br />
<br />
<%- partial('./partials/footer.ejs') %>