<%- partial('./partials/header.ejs') %>

<header class="padding-top80 white-bg">

	<div class="container white-bg">

		<div class="banner-content text-center animation animated animation-fade-in-down" data-animation="animation-fade-in-down">
			<a href="/"><img src="/images/triforce-tokens-banner-logo-2.png" alt="Force Protocol Ltd Logo" /></a>
		</div>

	</div>

</header>

<div class="section">

	<div class="container">

		<div class="col-sm-12 col-md-12 col-lg-12">

			<div class="text-center">
				<h1><%- __('Join Token Sale') %></h1>
			</div>



			<div class="col-lg-6 col-md-8 col-sm-10 col-xs-12 col-lg-offset-3 col-md-offset-2 col-sm-offset-1">

				<br />


				<% if(flash.has('errors')){ %>
				<br /><br />
				<div class="alert alert-danger col-lg-12 col-md-12 col-sm-12">
					<% flash.get('errors').forEach(function (message) { %>
					<p class="error"><i class="fa fa-exclamation-triangle"></i> &nbsp;&nbsp;<%- message %></p>
					<% }) %>
				</div>
				<% } %>

				<% if(flash.has('success')){ %>
				<br /><br />
				<div class="alert alert-success col-lg-12 col-md-12 col-sm-12">
					<% flash.get('success').forEach(function (message) { %>
					<p class="success"><i class="fa fa-exclamation-check"></i> &nbsp;&nbsp;<%- message %></p>
					<% }) %>
				</div>
				<% } %>

				<br />


				<form method="post" action="/signup">


					<div class="form-group row form-group-lg">
						<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<input class="form-control" type="text" name="firstName" placeholder="<%- __('First Name') %>">
							</div>

							<div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
								<input class="form-control" type="text" name="lastName" placeholder="<%- __('Last Name') %>">
							</div>
						</div>
					</div>


					<div class="form-group form-group-lg">
						<input class="form-control" type="email" name="email" placeholder="<%- __('email') %>">
					</div>

					<div class="form-group form-group-lg">
						<input class="form-control" type="password" name="password" placeholder="<%- __('password') %>">
					</div>

					<div class="form-group form-group-lg">
						<input class="form-control" type="password" name="password-check" placeholder="<%- __('re-enter your password') %>">
					</div>

					<div class="form-group form-group-lg">
						<%- recaptchaForm %>
					</div>


					<div class="form-group form-group-lg">
						<input class="btn btn-block btn-cta" type="submit" value="Join" />
					</div>

					<br />
					<a href="/login"><%- __('Already a member?') %></a>
				</form>

			</div>
		</div>


	</div>

</div>

<br />
<br />
<br />
<script src='https://www.google.com/recaptcha/api.js'></script>
<%- partial('./partials/footer.ejs') %>
